@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.navbar, .cta{
  background-color: hsla(210, 31%, 97%, 1);
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-links ul{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-links a {
  margin-left: 2rem;
  top: 30px;
  left: 425.5px;
  text-decoration: none;
  color: black;
  height: 24px;
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  }
  
  

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-buttons{
  display: flex;
  width: 182px;
  height: 40px;
  top: 22px;
  left: 1138px;
  gap: 14px;
  align-items: center;
  justify-content: center;
}

.log-in{
  color: hsla(122, 39%, 49%, 1);
  background-color: hsla(210, 31%, 97%, 1);
  width: 91px;
  height: 40px;
  border-radius: 6px;
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 20px;
  gap: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.sign-up{
  color: white;
  background-color: hsla(122, 39%, 49%, 1);
  width: 91px;
  height: 40px;
  border-radius: 6px;
  top: 10px;
  right: 20px;
  bottom: 10px;
  left: 20px;
  gap: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.cta{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.words h3{
max-width: 700px;
font-weight: 600;
font-size: 64px;
line-height: 76px;
letter-spacing: 0%;
}

.cta-word{
color:hsla(122, 39%, 49%, 1) ;
font-weight: 600;
font-size: 64px;
line-height: 76px;
letter-spacing: 0%;
}

.words p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;

}

.section-one{
width: 1440;
height: 416;
top: 757px;
left: -15px;
gap: 16px;
}

.sectioncard{
  display: flex;
  width: 1440;
  height: 280;
  justify-content: space-between;
  padding-right: 144px;
  padding-left: 144px;

  
}

.card {
  width: 299;
  height: 260;
  padding-top: 24px;
  padding-right: 32px;
  padding-bottom: 24px;
  padding-left: 32px;
  gap: 8px;
  border-radius: 8px;
  text-align: center;
  
}

.cards h3{
  max-width: 10px;
}

p{
  font-size: 16px;
  color: #555;
}

.sectioncard-title p{
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}

.sectioncard-title h3{
font-weight: 600;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
}

.footer-links a{
  color: white;
}

.footer-writeup{
width: 887;
height: 152;
font-weight: 100;
font-size: 24px;
line-height: 30px;
letter-spacing: 20%;
text-align: center;
color: hsla(200, 19%, 18%, 1);
}

.footer-writeup .btn{
  padding: 8px;
  border-radius: 2px;
  background-color: hsla(122, 39%, 49%, 1);
  color: white;
  border: none;
}

.logo{
  display: flex;
  align-items: center;
}

footer-links{
  margin-top: 10px;
}

.gap{
  border: #555 solid 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.footer-container{
  display: flex;
  flex-direction: column;
} 

.containeri{
  display: flex;
  gap: 50px;
  justify-content: flex-start;
}

.containeri ul li{
  list-style: none;
}

.gap{
  color:white;
  background: hsla(200, 19%, 18%, 1);
  padding: 20px
}

.flower{
  background: hsla(210, 31%, 97%, 1);
  padding: 50px;
}

.c3 button{
  padding: 5px 15px;
}



